<div class="content-section">
    <div>
        <span class="feature-title">Calendar</span>
        <span>日历控件包括“日期选择控件”、“时期及时间选择控件”、“时间选择控件”</span>
    </div>
</div>

<div class="content-section implementation">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
            <h3>日期</h3>
            <p-calendar [(ngModel)]="date1" [locale]="zh" [showIcon]="true" dateFormat="yy-mm-dd"></p-calendar> <span style="margin-left:35px">{{date1|date}}</span>
        </div>
    </div>
</div>
<div class="content-section implementation">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
            <h3>日期及时间</h3>
            <p-calendar [(ngModel)]="date2" [locale]="zh" [showIcon]="true" [showTime]="true" dateFormat="yy-mm-dd"></p-calendar> {{date2}}
        </div>
    </div>
</div>
<div class="content-section implementation">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
            <h3>时间</h3>
            <p-calendar [(ngModel)]="date3" [timeOnly]="true"></p-calendar>{{date3}}
        </div>
    </div>
</div>